PORT=3001
NODE_ENV=development
DB_LOGGING=false

DATABASE_URL=postgresql://USER:PASSWORD@HOST/DB_NAME?sslmode=verify-full

JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173
