PORT=3001
NODE_ENV=development

DATABASE_URL=postgresql://USER:PASSWORD@HOST/DB_NAME?sslmode=verify-full

JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173

MERCADOPAGO_ACCESS_TOKEN=TEST-your-access-token
MERCADOPAGO_PUBLIC_KEY=TEST-your-public-key
